* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

nav {
    height: 60px;
    width: 100vw;
    padding: 6px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 200px;
}

a {
    font-family: sans-serif;
    color: rgba(0,0,0,0.87);;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
} 

li {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.container  {
    margin-bottom: 18px;
}

form {
    min-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    border: 1px solid lightgray;
    border-radius: 50px;
    height: 50px;
    margin: 16px 0;
}

form:hover {
    box-shadow: 0 1px 3px 2px rgba(155, 155, 155, 0.185);
}

input {
    height: 100%;
    width: 80%;
    border: none;
    font-size: 14px;
    color: rgb(36, 36, 36);
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.buttons a {
    padding: 10px 14px;
    background-color: rgb(248, 248, 248);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.buttons a:hover {
    border: 1px solid lightgray;
    text-decoration: none;
}

